* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-color: #fdfdfd;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h2 {
  font-size: 2rem;
  color: #d4af37;
  margin-top: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  line-height: 1.8;
  margin-bottom: 1.2rem;
}

a {
  color: #d4af37;
  text-decoration: none;
  transition: 0.3s;
}
